<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e33e7010c.js" crossorigin="anonymous"></script>
    <title>Tarefas2</title>
    <style>
        body {
  margin: 0;
  padding: 0;
  background-color: #f398f3;
}
 .User{
    text-align: right;
    padding-right: 10px;
 }

 .Formulario{
    border: 5px solid #f125f1;
 }
.Titulo{
    position: relative;
    bottom: 60px;
    padding-left: 10px;
}

 .Divisao{
    width:200px;
    height: 640px;
    padding-left: 10px;
    border: 5px solid #940894;
    background-color: #f8c2f8;
   } 
   .Botao{
    
   position: relative ;
   left: 95%;
   
   } 
   .Header{
    width: 100%;
    height: 100px;
    border: 5px solid #4e264e;
   }
   .Butao{
    position: relative;
    top: 20px;
   }



    </style>
</head>
<body>
    <div class="Header">
        <h1 class="User"><%=user.name%>
        <i class="fa-regular fa-circle-user"></i>
        </h1>
        <h1 class="Titulo">Controle de tarefas</h1>
       
        <form action="/usuario/logout" method="post" class="Butao">
        <button class="Botao" type="submit">Sair</button>
        </form>
</div>
<div class="Divisao">
  <h1 class="Cadastrar"></h1>
  <a href="#">Cadastrar</a>
  <h1 class="Listar"></h1>
  <a href="/adm/users">Listar</a>
</div>
 
</body>
</html>